@model CourseDetailViewModel;

<section>
    <div class="row">
        <div class="col-md-8 mt-3">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-4 d-grid gap-2 align-items-center">
            <a class="btn btn-warning btn-lg" role="button">ISCRIVITI</a>
        </div>

        <div class="col-md-8">
            <div>@Model.Description</div>
        </div>
        <div class="col-md-4">
            <aside>
                @Model.Author
                <div>
                    <rating value="@Model.Rating"></rating>
                </div>
            </aside>
        </div>
    </div>
</section>
