@using CorsoNetCore.Models.ViewModel
@model List<CourseViewModel>
<h1>@ViewData["Title"]</h1>

@foreach (var course in Model)
{
    <partial name="Course/CourseLine" model="@course" />
}

<nav aria-label="Page navigation example">
    <ul class="pagination mt-5 d-flex justify-content-center">
        <li class="page-item disabled">
            <a class="page-link disabled">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" asp-route-page="1">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>