@using CorsoNetCore.Models.ViewModel
@model PaginatedResult<CourseViewModel>

<h1>@ViewData["Title"]</h1>

@foreach (var course in Model.Items)
{
    <partial name="Course/CourseLine" model="@course" />
}

<partial name="Common/Pagination" model="@Model"></partial>