@{
    ViewData["Title"] = "Home";
}

<h1>Portale e-learning</h1>

<div>
    Questo portale è stato creato da <a href="https://www.magisterinformatica.it" target="_blank">Andreoli Marco</a> come esercizio al corso Udemy su Asp.Net Core
</div>