@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recupero Password";
}

<h1>@ViewData["Title"]</h1>
<h2>Inserisci la mail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email" class="form-label"></label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>